---
// src/components/StaticSections/PrimaryHero.astro
import Section from "../Section.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg"; // Your hero background image
import Menu from "../Menu/Menu.astro";
import BusinessHoursItem from "../Menu/BusinessHoursItem.astro";
import { getBusinessHours } from "@/queries/BusinessHoursQuery";

// You can prefetch the business hours if needed (note that because Section is a server component,
// using await inside your component is acceptable).
const businessHours = await getBusinessHours();
---
<Section
  backgroundMedia={{
    image: {
      src: HeroBg,
      imageClass: "filter brightness-50 bg-cover bg-center xl:bg-fixed",
    },
    overlayClass: "bg-black opacity-50"
  }}
  heading={[
    {
      text: "Welcome to Cleanomatic – Your Trusted Cleaning Experts in New Jersey!",
      tagName: "h1",
      class: "text-bg h2",
    },
  ]}
  description="Welcome to Cleanomatic, your one‑stop solution for water removal as well as dryer vent, air duct, furniture, carpet and floor cleaning services in New Jersey."
  buttons={[
    {
      text: "Request Estimate",
      link: "/contact-us",
    },
  ]}
  buttonsSectionClass="mt-[var(--spacing-md)] order-last sm:mt-0"
  sectionClass="min-h-[100vh] md:min-h-[70vh] lg:min-h-[100vh] xl:min-h-[80vh] flex flex-col items-center xl:items-end justify-center bg-cover bg-fixed bg-center z-100 md:p-[var(--spacing-sm)] text-bg text-base md:text-xl"
  contentClass="mt-[-150px] sm:mt-0 xl:mt-[-50px]"
  headingAreaClass="xl:max-w-7/8"
  slotPlacement="top-content-section"
>
  <div class="business-hours-menu text-stroke italic my-[var(--spacing-md)]">
    <label class="h4 text-bg my-[var(--spacing-sm)] italic">
      Business Hours:
    </label>
    <Menu
      items={businessHours}
      menuItem={{
        component: BusinessHoursItem,
        class: "flex justify-start items-start",
      }}
      listClass="business-hours-list flex flex-col list-disc pl-[var(--spacing-2xl)]"
    />
  </div>
</Section>
