---
// src/components/StaticSections/QuoteForm.astro
import Section from "@/components/Section.astro";
import ContactForm from "@/components/Forms/ContactForm.astro";
---
<Section
  sectionClass="section-sm bg-primary flex justify-center items-center text-center lg:text-left load fade-in"
  contentClass="content-container flex justify-between items-center flex-wrap lg:flex-nowrap py-[var(--spacing-2xl)] gap-[var(--spacing-2xl)] load slide-up"
  topContentClass="w-full lg:min-w-1/2"
  headingAreaClass="w-full"
  heading={[
    {
      text: "Fill out this form to Contact us and Request a Free Quote",
      tagName: "h2",
      class: "h2 text-[var(--color-bg)]",
    }
  ]}
  childSlotClass="w-full lg:min-w-1/2"
  >
  <ContactForm />
</Section>
