---
import Section from "@/components/Section/Section.astro";
import PrimaryHero from "@/components/Section/StaticSections/PrimaryHero.astro";
import { Picture } from "astro:assets";
import generations from "@/assets/generations.jpg";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import { SiteData, CTAdata } from "@/content/SiteData";
const isServiceAreasRoute = Astro.url.pathname.includes("/serviceAreas");
---

<!-- Additional sections such as Services, Service Areas, Testimonials, Gallery, etc. -->
<Section collection="services" query="getAll" buttonsSectionClass="hidden" />

<Section
  heading={[
    {
      text: "From Mess to Masterpiece",
      tagName: "h2",
      class: "h2 text-bg mb-[var(--spacing-sm)] load slide-up",
    },
    {
      text: "We don’t just clean— we conquer chaos.",
      tagName: "p",
      class: "h6 text-bg load slide-up",
    },
  ]}
  sectionClass="bg-accent py-[var(--spacing-xl)] md:py-[var(--spacing-2xl)] lg:py-[var(--spacing-3xl)] text-bg load fade-in"
  contentClass="text-center"
  topContentClass="px-[var(--spacing-xl)] lg:px-0"
  childSlotClass="flex flex-col text-center justify-center"
>
  <div
    class="galleries flex flex-col justify-center items-center py-[var(--spacing-xl)] md:py-[var(--spacing-2xl)] lg:py-[var(--spacing-3xl)] gap-[var(--spacing-xl)]"
  >
    <Section
      collection="projects" query="getAll" itemClass="flex-shrink-0 snap-start basis-full lg:basis-1/2 xl:basis-1/3"
      heading={[
        {
          text: "No Mess We Can’t Tackle",
          tagName: "h3",
          class: "h3 text-bg load slide-up",
        },
      ]}
    />
  </div>
</Section>

<!-- About -->
<!-- About Section with a background picture -->
<Section
  heading={[
    {
      text: "Generations of Clean",
      tagName: "label",
      class: "h5 load slide-down italic",
    },
    {
      text: "Family Owned and Operated",
      tagName: "h2",
      class: "h2 text-accent mb-[var(--spacing-sm)] load slide-up",
    },
  ]}
  buttons={[{ text: "More About Us", link: "/about-us", variant: "secondary" }]}
  description="With over 22 years of hands-on experience and hundreds of happy clients, Cleanomatic has become a household name for dependable, honest cleaning services throughout Monmouth and Ocean County. From air ducts to dryer vents, carpets to emergency water damage, our owner-operated team puts integrity and results first."
  descriptionClass="load slide-up"
  sectionClass="flex justify-center items-center text-left section-lg bg-bg"
  contentClass="content-container flex justify-between items-start py-[var(--spacing-2xl)] flex-col-reverse md:flex-row gap-[var(--spacing-xl)] lg:gap-[var(--spacing-2xl)] text-xl"
  topContentClass="w-full lg:min-w-1/2"
  childSlotClass="lg:sticky lg:top-0"
  buttonsSectionClass="py-[var(--spacing-xl)] load scale-up"
  buttonsPlacement="top-content-section"
  itemClass="list-disc list-inside ml-6"
>
  <Picture
    src={generations}
    alt="Benefits of Cleanomatic"
    formats={["avif", "webp"]}
    fallbackFormat="jpg"
    loading="eager"
    quality="low"
    fetchpriority="high"
    aria-hidden="true"
    class="w-full h-fit load scale-up"
  />
</Section>

<Section collection="testimonials" query="getAll" />

<!-- Benefits Section with a background picture -->
<Section collection="benefits" query="getAll">
  <Picture
    src={HeroBg}
    alt="Benefits of Cleanomatic"
    formats={["avif", "webp"]}
    fallbackFormat="jpg"
    loading="eager"
    quality="low"
    fetchpriority="high"
    aria-hidden="true"
    class="w-[538px] h-fit load scale-up"
  />
</Section>

{/* only render Service Areas if we’re NOT on a /serviceAreas URL */}
{
  !isServiceAreasRoute && (
    <Section
      collection="serviceAreas"
      query="getAll"
      buttons={[
        { text: "Contact Us", link: "/contact-us", variant: "secondary" },
      ]}
    />
  )
}

<Section collection="faq" query="getAll">
  <Picture
    src={HeroBg}
    alt="Benefits of Cleanomatic"
    formats={["avif", "webp"]}
    fallbackFormat="jpg"
    loading="eager"
    quality="low"
    fetchpriority="high"
    aria-hidden="true"
    class="w-[538px] py-[var(--spacing-xl)] h-fit load scale-up"
  />
</Section>
<Section collection="gallery" query="getAll" />
