---
// src/pages/contact-us.astro
import SecondaryHero from "@/components/Section/StaticSections/SecondaryHero.astro";
import ExtendedLayout from "../layouts/ExtendedLayout.astro";
import Menu from "@/components/Menu/Menu.astro";
import { getContactMenuItems } from "@/queries/ContactMenuQuery";
import ContactCard from "@/components/LoopComponents/ContactMenu/ContactCard";
import Section from "@/components/Section/Section.astro";
---

<ExtendedLayout
  title="Contact Us"
  description="Get in touch with Cleanomatic"
  keywords={["contact", "cleanomatic contact", "cleaning services inquiry"]}
>
  <SecondaryHero title="Contact Us" />
  <Section
    heading={{ text: "Reach Out To Us", tagName: "h3", class: "h3" }}
    sectionClass="section-md py-[var(--spacing-2xl)] lg:py-[var(--spacing-sm)] flex items-center justify-center"
    contentClass="container mx-auto text-center"
  >
    <Menu
      items={await getContactMenuItems()}
      listClass={"flex flex-col lg:flex-row gap-[var(--spacing-xl)] py-[var(--spacing-xl)] justify-evenly items-center"}
      menuItem={{ component: ContactCard }}
    />
  </Section>
</ExtendedLayout>
