---
import Button from "@/components/Button/Button";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Thank You!">
  <section class="p-[var(--spacing-2xl)] text-center">
    <h1 class="h2 mb-[var(--spacing-md)]">Thanks for reaching out!</h1>
    <p class="text-base mb-[var(--spacing-lg)]">
      We’ve received your message and will get back to you shortly.
    </p>
    <Button href="/" variant="secondary">Return Home</Button>
  </section>
</BaseLayout>
