---
// src/pages/index.astro
import ExtendedLayout from "@/layouts/ExtendedLayout.astro";
import Section from "@/components/Section.astro";
import PrimaryHero from "@/components/StaticSections/PrimaryHero.astro";
import { Picture } from "astro:assets";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
---

<ExtendedLayout
  title="Welcome to Cleanomatic"
  image={HeroBg}
  keywords={[
    "cleaning services",
    "professional cleaning",
    "eco-friendly cleaning",
    "New Jersey cleaning",
  ]}
>
  <!-- Hero Section with primary call-to-action -->
  <PrimaryHero />

  <!-- Benefits Section with a background picture -->
  <Section collection="benefits" query="getAll">
    <Picture
      src={HeroBg}
      alt="Benefits of Cleanomatic"
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      loading="eager"
      quality="low"
      fetchpriority="high"
      aria-hidden="true"
      class="w-[538px] h-fit"
    />
  </Section>

  <!-- Additional sections such as Services, Service Areas, Testimonials, Gallery, etc. -->
  <Section collection="services" query="getAll" buttonsSectionClass="hidden" />
  <Section
    collection="serviceAreas"
    query="getAll"
    buttons={[
      { text: "Contact Us", link: "/contact-us", variant: "secondary" },
    ]}
  />
  <Section collection="testimonials" query="getAll" />
  <Section collection="gallery" query="getAll" />
<Section collection="faq" query="getAll" />  
</ExtendedLayout>
