---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import PrimaryHero from "@/components/StaticSections/PrimaryHero.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import GoogleMap from "@/components/GoogleMap.astro";
import { Picture } from "astro:assets";
import BenefitsImage from "@/assets/background.svg";
import { getBusinessHours } from "@/queries/BusinessHoursQuery";
import BusinessHoursItem from "@/components/Menu/BusinessHoursItem.astro";
import Menu from "@/components/Menu/Menu.astro";
import Button from "@/components/Button";
import ListItem from "@/components/LoopComponents/ListItem.astro";
---

<Layout title="Welcome to Cleanomatic" image={HeroBg}>
  <!-- Hero Section with two buttons -->
  <PrimaryHero />


  <Section
    collection="benefits"
    query="getAll"
    heading={[
      { text: "Cleaning done right, Cleanomatic!", tagName: "h2", class: "text-accent h2" },
      {
        text: "Your Trusted Cleaning Professionals for 23+ Years.",
        tagName: "h5",
      },
    ]}
    sectionClass="flex justify-center items-center text-left min-h-[80vh] xl:min-h-[100vh] px-[var(--spacing-xl)]"
    contentClass="container flex justify-between py-[var(--spacing-2xl)] px-[var(--spacing-xl)] flex-col-reverse md:flex-row-reverse gap-[var(--spacing-xl)] lg:gap-[var(--spacing-2xl)]"
    headingAreaClass="flex flex-col items-start"
    buttonsSectionClass="hidden"
    topContentClass="flex flex-col items-start justify-start gap-[var(--spacing-md)] w-full md:max-w-1/2"
    itemPlacement="top-content-section"
    itemsClass="flex flex-col items-start justify-start gap-[var(--spacing-md)]"
    component={ListItem}
  >
    <div class="image-section sticky top-0">
      <Picture
        src={HeroBg}
        alt={"Benefits of Cleanomatic"}
        formats={["avif", "webp"]}
        fallbackFormat="jpg"
        loading="eager"
        quality={"low"}
        fetchpriority="high"
        aria-hidden="true"
        class="w-[538px] h-fit"
      />
    </div>   
  </Section>

  {/* Services */}
  <Section collection="services" query="getAll" buttonsSectionClass="hidden" />

  <Section collection="serviceAreas" query="getAll" buttons={
    [
      {
        text: "Contact Us",
        link: "/contact-us",
        variant: "secondary"
      },
    ]
  } />

  {/* Benefits */}

  {/* Testimonials */}
  <Section
    collection="testimonials"
    query="getAll"
  />

  <Section 
    collection="gallery"
    query="getAll"
    />

  <Section sectionClass="p-0 m-0" />
  <!-- <GoogleMap class="w-screen h-[350px]"/> -->
</Layout>

{/* FAQ Section */}
<!-- <Section
   collection="faq"
   query="getAll"
   component={Accordion}
   clientDirective="idle"  
 /> -->
