---
// src/pages/index.astro
import ExtendedLayout from "@/layouts/ExtendedLayout.astro";
import Section from "@/components/Section.astro";
import PrimaryHero from "@/components/StaticSections/PrimaryHero.astro";
import { Picture } from "astro:assets";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import generations from "@/assets/generations.jpg";
import { Image } from "astro:assets";
---

<ExtendedLayout
  title="Welcome to Cleanomatic | Your Trusted Cleaning Experts in New Jersey!"
  image={HeroBg}
  keywords={[
    "cleaning services",
    "professional cleaning",
    "eco-friendly cleaning",
    "New Jersey cleaning",
  ]}
>
  <!-- Hero Section with primary call-to-action -->
    <PrimaryHero />


  <!-- Additional sections such as Services, Service Areas, Testimonials, Gallery, etc. -->
  <Section collection="services" query="getAll" buttonsSectionClass="hidden" />

  <!-- About -->  <!-- About Section with a background picture -->
  <Section
  heading={[
      {
        text: "Keeping Jersey Clean Since 1999!",
        tagName: "label",
        class: "h5 load slide-down italic",
      },
    {
      text: "New Jersey’s Trusted Experts in Air Duct, Dryer Vent & Indoor Air Quality Solutions",
      tagName: "h2",
      class: "h2 text-accent mb-[var(--spacing-sm)] load slide-up",
    },
    {
      text: "Family Owned & Operated!",
      tagName: "h6",
      class: "h6 text-text font-bold italic load slide-up",
    },
  ]}
  buttons={[
    { text: "More About Us", link: "/about-us", variant: "secondary" },
  ]}
  description="With over 22 years of hands-on experience and hundreds of happy clients, Cleanomatic has become a household name for dependable, honest cleaning services throughout Monmouth and Ocean County. From air ducts to dryer vents, carpets to emergency water damage, our owner-operated team puts integrity and results first."
  descriptionClass="load slide-up"
  sectionClass="flex justify-center items-center text-left section-lg bg-bg"
  contentClass="content-container flex justify-between items-start py-[var(--spacing-2xl)] flex-col-reverse md:flex-row gap-[var(--spacing-xl)] lg:gap-[var(--spacing-2xl)] text-xl"
  topContentClass="w-full lg:min-w-1/2"
  childSlotClass="lg:sticky lg:top-0"
  buttonsSectionClass="py-[var(--spacing-xl)] load scale-up"
  buttonsPlacement="top-content-section"
>
  <Picture
    src={generations}
    alt="Benefits of Cleanomatic"
    formats={["avif", "webp"]}
    fallbackFormat="jpg"
    loading="eager"
    quality="low"
    fetchpriority="high"
    aria-hidden="true"
    class="w-full h-fit load scale-up"
  />
</Section>

  <!-- Benefits Section with a background picture -->
  <Section collection="benefits" query="getAll">
    <Picture
      src={HeroBg}
      alt="Benefits of Cleanomatic"
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      loading="eager"
      quality="low"
      fetchpriority="high"
      aria-hidden="true"
      class="w-[538px] h-fit load scale-up"
    />
  </Section>

  <Section
    collection="serviceAreas"
    query="getAll"
    buttons={[
      { text: "Contact Us", link: "/contact-us", variant: "secondary" },
    ]}
  />
  <Section collection="testimonials" query="getAll" />
  <Section collection="faq" query="getAll">
  <Picture
      src={HeroBg}
      alt="Benefits of Cleanomatic"
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      loading="eager"
      quality="low"
      fetchpriority="high"
      aria-hidden="true"
      class="w-[538px] h-fit load scale-up"
    />
    </Section>
  <Section collection="gallery" query="getAll" />
</ExtendedLayout>
