---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import Card from "@/components/LoopComponents/Card";
import ServiceCard from "@/components/LoopComponents/ServiceCard.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import ReactWrapper from "@/components/ReactWrapper";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Cleanomatic">
  <!-- Hero Section with two buttons -->
  <Section
    heading={[
      {
        text: "Welcome to Cleanomatic – Your Trusted Cleaning Experts in New Jersey!",
        tagName: "h1",
        class: "font-black text-stroke h1 text-bg",
      },
    ]}
    description="Welcome to Cleanomatic, your one-stop solution for professional cleaning services in New Jersey. With over 23 years of experience"
    buttons={[
      {
        text: "Request Estimate",
        link: "/contact",
        class: "mt-[var(--spacing-sm)]",
      },
    ]}
    sectionClass="min-h-[70vh] flex items-center justify-center bg-cover bg-fixed bg-center z-100"
    contentClass="md:w-6/12"
  >
    <Image
      src={HeroBg}
      alt="Cleanomatic Truck"
      format="webp"
      quality={"low"}
      width={1200}
      height={800}
      class="parallax absolute inset-0 object-cover w-full h-full z-[-1] opacity-30"
      loading="eager"
      decoding="async"
      fetchpriority="high"
    />
  </Section>

  <Section
    heading={[
      { text: "Cleaning done right, Cleanomatic!", tagName: "h2" },
      {
        text: "Your Trusted Cleaning Professionals for 23+ Years.",
        tagName: "h5",
      },
    ]}
    description="With over 23 years of experience, the Cleanomatic team is committed to delivering top-tier cleaning solutions for both residential and commercial clients. Whether you need thorough tile and grout restoration, air duct cleaning, or emergency water damage restoration, we have the expertise and tools to get the job done right."
    sectionClass="flex justify-center items-center text-center min-h-[80vh] md:min-h-[50vh] px-[var(--spacing-xl)]"
    contentClass="container flex flex-wrap flex-col justify-center items-center w-full py-[var(--spacing-2xl)]"
    itemsClass="flex flex-wrap justify-center items-stretch flex-1/2"
    buttonsSectionClass="hidden"
  >
  </Section>

  {/* Services */}
  <Section
    collection="services"
    query="getAll"
    component={ServiceCard}
    heading={{ text: "Our Services", tagName: "h2" }}
    sectionClass="flex justify-center items-center text-center"
    contentClass="container flex flex-wrap flex-col justify-center items-center w-full py-[var(--spacing-2xl)] px-[var(--spacing-lg)]"
    itemsClass="flex flex-wrap justify-center items-stretch gap-[var(--spacing-md)] md:gap-[var(--spacing-xl)]"
    buttonsSectionClass="hidden"
  />

  {/* Testimonials */}
  <Section
    collection="testimonials"
    query="getAll"
    component={Card}
    sectionClass="flex justify-center items-center text-center bg-accent text-bg"
    contentClass="container flex flex-wrap flex-col justify-between items-center w-full py-[var(--spacing-3xl)]"
    itemsClass="flex flex-wrap md:flex-nowrap justify-center items-stretch flex-1/2 gap-[var(--spacing-xl)] my-[var(--spacing-2xl)] p-[var(--spacing-lg)] md:p-0"
    heading={{ text: "Client Testimonials", tagName: "h2" }}
    buttons={[{ text: "View All Testimonials", variant: "secondary" }]}
  />

  {/* Projects */}
  <Section
    collection="projects"
    query="getAll"
    component={Card}
    heading={{ text: "Our Projects", tagName: "h2" }}
    sectionClass="flex flex-col justify-center items-center text-center my-[var(--spacing-2xl)]"
    itemsClass="flex justify-center items-center flex-wrap flex-1/2 py-[var(--spacing-lg)]"
  />
</Layout>
