---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import GoogleMap from "@/components/GoogleMap.astro";
import { Picture } from "astro:assets";
import BenefitsImage from "@/assets/background.svg";
import { getBusinessHours } from "@/queries/BusinessHoursQuery";
import BusinessHoursItem from "@/components/Menu/BusinessHoursItem.astro";
import Menu from "@/components/Menu/Menu.astro";
import Heading from "@/components/Heading";
---

<Layout title="Welcome to Cleanomatic" image={HeroBg}>
  <!-- Hero Section with two buttons -->
  <Section
    backgroundMedia={{
      image: {
        src: HeroBg, // imported image as fallback/poster
        imageClass: "filter brightness-50 bg-cover bg-center xl:bg-fixed",
      },
      overlayClass: "bg-black opacity-50",
    }}
    heading={[
      {
        text: "Welcome to Cleanomatic – Your Trusted Cleaning Experts in New Jersey!",
        tagName: "h1",
        class: "text-bg h2",
      },
    ]}
    description="Welcome to Cleanomatic, your one-stop solution for professional cleaning services in New Jersey. With over 23 years of experience"
    buttons={[
      {
        text: "Request Estimate",
        link: "/contact",
      },
    ]}
    buttonsSectionClass="mt-[var(--spacing-md)] sm:mt-0"
    sectionClass="min-h-[100vh] md:min-h-[70vh] lg:min-h-[100vh] xl:min-h-[80vh] flex flex-col items-center xl:items-end justify-center bg-cover bg-fixed bg-center z-100 md:p-[var(--spacing-sm)] text-bg text-base md:text-xl"
    contentClass="mt-[-150px] sm:mt-0 xl:mt-[-50px]"
    headingAreaClass="xl:max-w-7/8"
>
<div class="business-hours-menu text-stroke italic my-[var(--spacing-md)]">
  <Heading tagName="h4" className={"h4 text-bg my-[var(--spacing-sm)] italic"}>
    Business Hours:
  </Heading>
  <Menu
    items={await getBusinessHours()}
    menuItem={{
      component: BusinessHoursItem, // Import the component you just created
      class: "flex justify-start items-start", // optional additional classes
    }}
    listClass="business-hours-list flex flex-col list-disc pl-[var(--spacing-2xl)]"
  />
</div>
</Section>

  <Section
    heading={[
      { text: "Cleaning done right, Cleanomatic!", tagName: "h2", class: "text-accent h2" },
      {
        text: "Your Trusted Cleaning Professionals for 23+ Years.",
        tagName: "h5",
      },
    ]}
    description="With over 23 years of experience, the Cleanomatic team is committed to delivering top-tier cleaning solutions for both residential and commercial clients. Whether you need thorough tile and grout restoration, air duct cleaning, or emergency water damage restoration, we have the expertise and tools to get the job done right."
    sectionClass="flex justify-center items-center text-left min-h-[80vh] xl:min-h-[100vh] px-[var(--spacing-xl)]"
    contentClass="container flex flex-col-reverse md:flex-row-reverse justify-between w-full py-[var(--spacing-2xl)] px-[var(--spacing-lg)] gap-[var(--spacing-lg)] md:gap-[var(--spacing-md)]"
    headingAreaClass="flex flex-col items-start w-full md:max-w-1/2"
    buttonsSectionClass="hidden"
  >
    <div class="image-section md:max-w-1/2">
      <Picture
        src={HeroBg}
        alt={"Benefits of Cleanomatic"}
        formats={["avif", "webp"]}
        fallbackFormat="jpg"
        loading="eager"
        quality={"low"}
        fetchpriority="high"
        aria-hidden="true"
        class="w-[538px] h-fit"
      />
    </div>
  </Section>

  {/* Services */}
  <Section collection="services" query="getAll" buttonsSectionClass="hidden" />

  {/* Testimonials */}
  <Section
    collection="testimonials"
    query="getAll"
  />

  <Section sectionClass="p-0 m-0" />
  <!-- <GoogleMap class="w-screen h-[350px]"/> -->
</Layout>

{/* FAQ Section */}
<!-- <Section
   collection="faq"
   query="getAll"
   component={Accordion}
   clientDirective="idle"  
 /> -->
