---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import PrimaryHero from "@/components/StaticSections/PrimaryHero.astro";
import ContactForm from "@/components/Forms/ContactForm.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
import { Picture } from "astro:assets";
import ListItem from "@/components/LoopComponents/ListItem.astro";
---

<Layout title="Welcome to Cleanomatic" image={HeroBg}>
  <!-- Hero Section with two buttons -->
  <PrimaryHero />

  <Section collection="benefits" query="getAll">
    <Picture
      src={HeroBg}
      alt="Benefits of Cleanomatic"
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      loading="eager"
      quality="low"
      fetchpriority="high"
      aria-hidden="true"
      class="w-[538px] h-fit"
    />
  </Section>

  {/* Services */}
  <Section collection="services" query="getAll" buttonsSectionClass="hidden" />

  <Section collection="serviceAreas" query="getAll" buttons={
    [
      {
        text: "Contact Us",
        link: "/contact-us",
        variant: "secondary"
      },
    ]
  } />

  {/* Benefits */}

  {/* Testimonials */}
  <Section
    collection="testimonials"
    query="getAll"
  />

  <Section 
    collection="gallery"
    query="getAll"
    />

  <!-- <GoogleMap class="w-screen h-[350px]"/> -->


</Layout>

{/* FAQ Section */}
<!-- <Section
   collection="faq"
   query="getAll"
   component={Accordion}
   clientDirective="idle"  
 /> -->
