---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import HeroBg from "@/assets/cleanomatic-truck-1.jpg";
---

<Layout title="Welcome to Cleanomatic">
  <!-- Hero Section with two buttons -->
  <Section
    background={{
      image: HeroBg, // an imported image or URL
      imageClass: "filter brightness-75 bg-cover bg-center lg:bg-fixed",
      overlayClass: "bg-black opacity-50",
    }}
    heading={[
      {
        text: "Welcome to Cleanomatic – Your Trusted Cleaning Experts in New Jersey!",
        tagName: "h1",
        class: "text-bg h2 font-black",
      },
    ]}
    description="Welcome to Cleanomatic, your one-stop solution for professional cleaning services in New Jersey. With over 23 years of experience"
    buttons={[
      {
        text: "Request Estimate",
        link: "/contact",
      },
    ]}
    buttonsSectionClass="mt-[var(--spacing-xl)]"
    sectionClass="min-h-[80vh] md:min-h-[70vh] flex items-center justify-center bg-cover bg-fixed bg-center z-100 md:p-[var(--spacing-lg)] text-bg text-base md:text-xl"
  >
  </Section>

  <Section
    heading={[
      { text: "Cleaning done right, Cleanomatic!", tagName: "h2" },
      {
        text: "Your Trusted Cleaning Professionals for 23+ Years.",
        tagName: "h5",
      },
    ]}
    description="With over 23 years of experience, the Cleanomatic team is committed to delivering top-tier cleaning solutions for both residential and commercial clients. Whether you need thorough tile and grout restoration, air duct cleaning, or emergency water damage restoration, we have the expertise and tools to get the job done right."
    sectionClass="flex justify-center items-center text-left min-h-[80vh] md:min-h-[50vh] px-[var(--spacing-xl)]"
    contentClass="container flex flex-wrap flex-col w-full py-[var(--spacing-2xl)] px-[var(--spacing-lg)]"
    itemsClass="flex flex-wrap justify-center items-stretch flex-1/2"
    buttonsSectionClass="hidden"
  >
  </Section>

  {/* Services */}
  <Section
  collection="services"
  query="getAll"
  buttonsSectionClass="hidden"
/>


  {/* Testimonials */}
  <Section
    collection="testimonials"
    query="getAll"
    heading={{ text: "Client Testimonials", tagName: "h2" }}
  />

  {/* Projects */}
  <Section
    collection="projects"
    query="getAll"
    heading={{ text: "Our Projects", tagName: "h2" }}
  />

   {/* FAQ Section */}
   <!-- <Section
   collection="faq"
   query="getAll"
   component={Accordion}
   clientDirective="idle"  
 /> -->
</Layout>
