---
import Menu from "./Menu/RegularMenu/Menu.astro";
const { text } = Astro.props;
---
<footer class="bg-white p-4 text-center">
  <p class="text-gray-333 m-0">{text}</p>
  <Menu queryName="FooterMenu" className="footer-menu" />
  <Menu queryName="AllItemsContact" />
</footer>