---
import HierarchicalMenu from "./Menu/HierarchicalMenu/HierarchicalMenu.astro";
import siteConfig from "../content/site.config.js";
import { Image } from "astro:assets";
import logo from '../assets/transparent-bg-pronto.png';
---
<header class="w-full bg-white px-4 py-4 flex items-center justify-between relative shadow-md">
  <div class="flex items-center">
    <a href="/" class="flex items-center no-underline text-gray-333">
      <!-- <h1 class="text-xl m-0">{siteConfig.title}</h1> -->
      <Image width="50" height="50" src={siteConfig.logo} alt="Site Logo" class="ml-2" />
    </a>
  </div>
  <div class="nav-right w-auto md:w-auto mt-0">
    <HierarchicalMenu queryName="NavMenu" className="nav-links"  />
  </div>
</header>
