---
import SubMenu from "./SubMenu.jsx";
import MenuItem from "../../MenuLink.astro";
import Arrow from "../Arrow/Arrow";

const { queryName, className = "" } = Astro.props;
---
<ul class={`flex gap-4 m-0 p-0 list-none ${className}`} role="menubar">
  {queryName.map((item) => (
    <li
      class="
        menu-item
        relative
        cursor-pointer
        hover:bg-gray-f0
        group /* Tailwind group for hover/focus submenus */
      "
      role="none"
    >
      <MenuItem
        label={item.label}
        href={item.href}
        hasChildren={item.children && item.children.length > 0}
        className="px-2 py-1"
      />
      {item.children && item.children.length > 0 && (
        <>
          <Arrow />
          {/* The top-level sub-menu is depth=0 by default */}
          <SubMenu items={item.children} />
        </>
      )}
    </li>
  ))}
</ul>
