---
// src/components/LoopComponents/GalleryCard.astro
import { Image } from "astro:assets";
const { item } = Astro.props;
console.log("GalleryCard", item);
---
<li class="gallery-card p-[var(--spacing-sm)] flex flex-col items-center justify-center w-full md:flex-1/5">
  {item.data.src && (
    <Image
      src={item.data.src}
      alt={item.data.title}
      class="w-full object-cover"
      loading="lazy"
      format="webp"
    />
  )}
</li>
