---
import { Image } from "astro:assets";
const { item } = Astro.props;

console.log("GalleryCard", item);
---
<li class="gallery-card p-4">
  {item.src && (
    <Image
      src={item.src}
      alt={item.title}
      class="w-full h-auto object-cover"
      loading="lazy"
      format="webp"
    />
  )}
  <h3 class="mt-2 text-lg font-bold">{item.title}</h3>
  {item.description && <p class="text-sm">{item.description}</p>}
</li>
