---
// src/components/LoopComponents/GalleryCard.astro
import { Image } from "astro:assets";
const { item } = Astro.props;
---
<article class="gallery-card load scale-up lg:p-[var(--spacing-sm)] h-78 flex flex-col items-center justify-center w-full md:flex-1/5">
  <div class="relative w-full h-full overflow-hidden">
    {item.data.src && (
      <Image
        src={item.data.src}
        alt={item.data.title}
        class="absolute inset-0 w-full h-full object-cover transform transition-transform duration-300 hover:scale-105 hover:shadow-xl"
        loading="lazy"
        format="webp"
      />
    )}
  </div>
</article>
